<!--
  The Side Bar
-->

<div id="sidebar" class="d-flex flex-column align-items-end" lang="{{lang}}">
  <div class="profile-wrapper text-center">
    <div id="avatar">
      <a href="{{ '/' | relative_url }}" alt="avatar" class="mx-auto">
          <img src="/img/avatar-hux.jpg" alt="avatar" onerror="this.style.display='none'">
      </a>
    </div>

    <div class="site-title mt-3">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <div class="site-subtitle font-italic">{{ site.tagline }}</div>

  </div><!-- .profile-wrapper -->

  <ul class="w-100">

    <!-- home -->
    <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
      <a href="{{ '/' | relative_url }}" class="nav-link">
        <i class="fa-fw fas fa-home ml-xl-3 mr-xl-3 unloaded"></i>
        <span>{{ site.data.locales[lang].tabs.home | upcase }}</span>
      </a>
    </li>
    <!-- the real tabs -->
    {% for tab in site.tabs %}
    <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
      <a href="{{ tab.url | relative_url }}" class="nav-link">
        <i class="fa-fw {{ tab.icon }} ml-xl-3 mr-xl-3 unloaded"></i>
        {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

        <span>{{ site.data.locales[lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
      </a>
    </li> <!-- .nav-item -->
    {% endfor %}

  </ul> <!-- ul.nav.flex-column -->

  <!-- {% if site.data.friend.friend %}
  <div class="profile-wrapper text-center">
    <div class="site-title mt-3">
      <span>友情链接</span>
    </div>
  </div>
  <ul class="w-100">
      {% for friend in site.data.friend.friend %}
      <li class="nav-item active">
        <a class="nav-link" href="{{friend.link}}">{{friend.title}}</a>
      </li>
      {% endfor %}
  </ul>
  {% endif %} -->

  <div class="profile-wrapper text-center">
    <div class="site-title mt-3">
      <span>{% include open-embed.html %}</span>
    </div>
  </div>
  

</div><!-- #sidebar -->
